name: CI

on:
  push: 
    tags:
      - 'v*.*.*-release'
      - 'v*.*.*-m*' 

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.22'

	# Configure git to use GitHub token
      - name: Configure git to use token
        run: |
          git config --global url."https://${{ secrets.GITHUBTOKEN }}@github.com/".insteadOf "https://github.com/"
        
      - name: Install dependencies
        run: go mod download 

      # Set up SSH agent and add private key from GitHub env
      - name: Start ssh-agent and add SSH key
        uses: webfactory/ssh-agent@v0.5.3
        with:
          ssh-private-key: ${{ secrets.SERVER_SSH_PRIVATE_KEY }}

      - name: Add VPS to known_hosts
        run: |
          mkdir -p ~/.ssh &&
          ssh-keyscan -H ${{ secrets.SERVER_HOST }} >> ~/.ssh/known_hosts

      # Docker login if your image requires authentication
      - name: Docker login
        run: |
          echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Debug Password
        run: echo "${{ secrets.VPS_PASSWORD }}"

      - name: Create .env file from secret
        run: |
          for line in "${ENV_CONTENT[@]}"; do
            echo "$line" >> .env
          done
          
      - name: Deploy to VPS
        run: |
          ssh azure_vm@${{ secrets.SERVER_HOST }} '
            export GITHUB_TOKEN=${{ secrets.GITHUBTOKEN }} &&
            export GITHUB_USERNAME=${{ secrets.GITHUBUSERNAME }} && 
            git config --global url."https://${GITHUB_USERNAME}:${GITHUB_TOKEN}@github.com/".insteadOf "https://github.com/" && 
            cd DOCKER/technical-test/technical-test-credit-plus &&
            git pull &&
            docker compose build &&
            docker compose up -d
          '
	  - name: Deploy to Local
		  run: |
		    ssh user@localhost '
			cd path/to/local/deploy &&
            git pull https://${{ secrets.GITHUBUSERNAME }}:${{ secrets.GITHUBTOKEN }}@github.com/<org>/<repo>.git &&
            docker compose build &&
            docker compose up -d
			'


            
